@import "colors";

@font-face {
    font-family: mushroomfont;
    src: url("LMS Hippy Chick.ttf") format("opentype");
}

body {
	background: url("desertToon2.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.capitalize {
   text-transform: capitalize;
}

h1 {
	padding: 40px;
	font-family: mushroomfont;
	font-size: 5.5em;
	color: $blue;
}

.inline {
	display: flex;	
	flex-direction: row;
	justify-content: center;
}

.shroomsHere {
	padding: 60px;
}

.shroomsHere > * {
	font-size: 1.3em;
	padding: 5px;
}