<!DOCTYPE html>
<html>
<head>
	<title>Mushroom Mania</title>
	<link rel="stylesheet" type="text/css" href="./lib/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./styles/main.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ng-app="ShroomApp">

<div ng-controller="ShroomCtrl">

	<h1>Mushroom Mania</h1>

	<input type="text" placeholder="Shroom Search" ng-model="searchText">

	<div>
		<label class="radio-inline"><input type="radio" name="canEat" ng-model="edibleFilter">All</label>
		<label class="radio-inline"><input type="radio" name="canEat" ng-model="edibleFilter" value="true">Edible</label>
		<label class="radio-inline"><input type="radio" name="canEat" ng-model="edibleFilter" value="false">Not Edible</label>
	</div>

	<ul ng-repeat="mushroom in mushrooms | filter: {'edible' : edibleFilter} | filter: searchText">
		<li> <h4 class="capitalize">{{mushroom.name}}</h4> {{mushroom.description}}</li>
	</ul>

</div>

<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<script type="text/javascript" src="./lib/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="./lib/bower_components/angular/angular.min.js"></script>

<script type="text/javascript" src="./javascripts/app.js"></script>
<script type="text/javascript" src="./javascripts/AppConstants.js"></script>
<script type="text/javascript" src="./javascripts/main.js"></script>

</body>
</html>